* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

/* scroll bar styling */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #464646;
  -webkit-box-shadow: inset 0 0 5px #535353;
          box-shadow: inset 0 0 5px #535353;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

* {
  scrollbar-width: auto;
  scrollbar-color: black #464646;
}

@font-face {
  font-family: ssp_black;
  src: url(../fonts/ssp_black.ttf);
}

@font-face {
  font-family: ssp_regular;
  src: url(../fonts/ssp_regular.ttf);
}

button {
  cursor: pointer;
}

#toTop {
  border: solid #30CFD0 1px;
  display: none;
  position: fixed;
  width: 4rem;
  height: 4rem;
  font-size: 1.25rem;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: #232323;
  color: #a1a1a1;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#toTop:hover {
  background-color: #555;
}

@media screen and (max-width: 550px) {
  #toTop {
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
    padding: 0;
  }
}

.image-container {
  pointer-events: none;
  max-width: 750px;
  width: 95%;
  background-color: black;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a a a b b c c c" "a a a b b c c c" "a a a e e c c c" "d d d e e g g g" "d d d f f g g g" "d d d f f g g g";
  gap: 5px;
}

.a {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a;
}

.b {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: b;
}

.c {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: c;
}

.d {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d;
}

.e {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: e;
}

.f {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: f;
}

.g {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: g;
}

.onePhoto {
  width: 100%;
  height: 100%;
}

/* body */
body {
  background-color: #303030;
  font-family: ssp_regular;
}

/* header */
header {
  position: fixed;
  background-color: #232323;
  z-index: 100;
  width: 100%;
}

@media screen and (max-width: 550px) {
  header {
    position: fixed;
  }
}

header img {
  padding: 0 2.5rem;
}

@media screen and (max-width: 1200px) {
  header img {
    max-width: 25vh;
  }
}

header a {
  color: #30CFD0;
  font-family: ssp_regular;
  text-align: center;
  font-size: 1.25rem;
}

header a:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  header a {
    font-size: 1rem;
  }
}

.loading-div {
  height: 100vh;
  overflow: hidden;
}

.loading-div .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2rem solid #330867;
  border-bottom: 2rem solid #330867;
  border-left: 2rem solid #30CFD0;
  border-right: 2rem solid #30CFD0;
  width: 15rem;
  height: 15rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@media screen and (max-width: 550px) {
  .loading-div .loader {
    width: 8rem;
    height: 8rem;
    border-top: 1rem solid #330867;
    border-bottom: 1rem solid #330867;
    border-left: 1rem solid #30CFD0;
    border-right: 1rem solid #30CFD0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.landing {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 10vw 40vw 10vw 1fr;
      grid-template-columns: 1fr 10vw 40vw 10vw 1fr;
  -ms-grid-rows: 20vh 20vh 4vh 5vh 20px 7vh auto;
      grid-template-rows: 20vh 20vh 4vh 5vh 20px 7vh auto;
}

@media screen and (max-width: 1200px) {
  .landing {
    -ms-grid-columns: 1fr 10vw 20vw 10vw 1fr;
        grid-template-columns: 1fr 10vw 20vw 10vw 1fr;
    -ms-grid-rows: 10vh 10vh 5vh 5vh 20px 6vh auto;
        grid-template-rows: 10vh 10vh 5vh 5vh 20px 6vh auto;
  }
}

.landing .heading {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #411b71;
  background: linear-gradient(125deg, #411b71 0%, #1b0537 100%);
  -webkit-box-shadow: 5px 5px 0px black;
          box-shadow: 5px 5px 0px black;
}

@media screen and (max-width: 1200px) {
  .landing .heading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -webkit-box-shadow: 2px 2px 1px black;
            box-shadow: 2px 2px 1px black;
    margin-top: calc(7vh - 5vh);
  }
}

.landing .heading h1 {
  text-shadow: 3px 3px 1px black;
  font-family: ssp_black;
  font-size: 5rem;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1200px) {
  .landing .heading h1 {
    font-size: 6ch;
  }
}

@media screen and (max-width: 550px) {
  .landing .heading h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 1px black;
  }
}

.landing .heading h1 span {
  color: #30CFD0;
}

.landing .subheading {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1200px) {
  .landing .subheading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
  }
}

.landing .subheading h2 {
  font-family: ssp_regular;
  font-size: 1.25rem;
  text-align: center;
  color: #30CFD0;
}

@media screen and (max-width: 550px) {
  .landing .subheading h2 {
    font-size: 0.9rem;
  }
}

.landing p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 5;
  grid-row: 5;
  text-align: center;
  color: #2B5252;
}

.landing form {
  border: #30CFD0 solid 2px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 6;
  grid-row: 6;
}

@media screen and (max-width: 1200px) {
  .landing form {
    font-size: 1rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row: 6;
    grid-row: 6;
    margin: 0 3rem;
  }
}

@media screen and (max-width: 550px) {
  .landing form {
    font-size: 1rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row: 4;
    grid-row: 4;
    margin: 0 1rem;
  }
}

.landing form * {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landing form input,
.landing form select {
  padding: 0 20px;
  border-color: #30CFD0;
}

@media screen and (max-width: 550px) {
  .landing form input,
  .landing form select {
    padding: 0 5px;
  }
}

.landing form button {
  background-color: #30CFD0;
  font-size: 2rem;
}

.landing .svg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

.landing .svg iframe {
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#chartMain {
  padding-top: 50px;
}

#chartMain section {
  height: 100vh;
  -webkit-box-shadow: 0px 0px 10px #232323;
          box-shadow: 0px 0px 10px #232323;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 50px;
  background: #252525;
  background: linear-gradient(165deg, #252525 0%, #092324 100%);
}

@media screen and (max-width: 1200px) {
  #chartMain section {
    height: auto;
    width: 95%;
    margin: 40px auto;
  }
  #chartMain section * {
    margin: 3% auto;
  }
}

@media screen and (max-width: 550px) {
  #chartMain section {
    padding: 10px;
  }
  #chartMain section * {
    margin: 2% auto;
  }
}

#chartMain section h3 {
  color: #30CFD0;
  font-family: ssp_black;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}

@media screen and (max-width: 1200px) {
  #chartMain section h3 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 550px) {
  #chartMain section h3 {
    font-size: 7vw;
    text-shadow: 1px 1px 0px black;
  }
}

#chartMain section h4 {
  color: #d4d4d4;
  text-align: center;
}

#chartMain section h4 span {
  color: #30CFD0;
}

@media screen and (max-width: 1200px) {
  #chartMain section h4 {
    font-size: 2.5vw;
    margin: 0 10%;
  }
}

@media screen and (max-width: 550px) {
  #chartMain section h4 {
    font-size: 3.5vw;
    margin: 0 5%;
    text-align: center;
  }
}

#chartMain section ol {
  font-size: 3ch;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  #chartMain section ol {
    font-size: 2ch;
  }
}

@media screen and (max-width: 550px) {
  #chartMain section ol {
    padding: auto 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

#chartMain section ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

#chartMain section ol li:before {
  color: #a1a1a1;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

@media screen and (max-width: 1200px) {
  #chartMain section ol li {
    margin: 1vw 5vw;
  }
}

#chartMain section ol li a {
  color: #30CFD0;
}

#chartMain section ol li a:hover {
  color: #a1a1a1;
}

#chartMain .playcount-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chartMain .playcount-section div h3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

#chartMain .playcount-section div h4 {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
}

#chartMain .artwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  border-bottom: none;
}

#chartMain .artwork h3 {
  margin-bottom: 4rem;
}

@media screen and (max-width: 550px) {
  #chartMain .artwork h3 {
    margin-bottom: 1.25rem;
  }
}

#chartMain .artwork .image-container {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

#chartMain .artwork #download-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#chartMain .artwork button {
  background-color: #30CFD0;
  height: 3rem;
  width: 12rem;
  margin-top: 2rem;
  -webkit-box-shadow: 3px 3px 2px black;
          box-shadow: 3px 3px 2px black;
}

#chartMain .artwork button:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

footer {
  height: 10vh;
  background-color: #232323;
  color: #666666;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  margin: 0;
}

.about-page main {
  padding-top: 20vh;
  margin: auto 200px;
}

@media screen and (max-width: 1200px) {
  .about-page main {
    margin: auto 100px;
  }
}

@media screen and (max-width: 550px) {
  .about-page main {
    margin: auto 25px;
  }
}

.about-page main section {
  background: #252525;
  background: linear-gradient(165deg, #252525 0%, #092324 100%);
  -webkit-box-shadow: 0px 0px 10px #232323;
          box-shadow: 0px 0px 10px #232323;
  border-radius: 15px;
  padding: 50px;
}

.about-page main section h1,
.about-page main section h3 {
  font-family: ssp_black;
}

.about-page main section p,
.about-page main section h2 {
  font-family: ssp_regular;
}

.about-page main section h1 {
  color: #30CFD0;
  text-shadow: 3px 3px 1px black;
}

.about-page main section h2 {
  color: #2B5252;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.about-page main section h3 {
  text-align: right;
}

.about-page main section h3 a {
  color: #30CFD0;
}

.about-page main section h3 a:hover {
  border-bottom: #30CFD0 1px solid;
}

.about-page main section p {
  color: #d4d4d4;
  margin-left: 4rem;
  font-size: 1.25rem;
  letter-spacing: 0.0625em;
}

.about-page main section p span {
  border-bottom: #30CFD0 1px solid;
}

@media screen and (max-width: 1200px) {
  .about-page main section {
    padding: 40px;
  }
  .about-page main section h1 {
    font-size: 2.5rem;
  }
  .about-page main section h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .about-page main section {
    padding: 20px;
  }
  .about-page main section h1 {
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
  }
  .about-page main section h2 {
    margin-left: 0;
    margin-top: 0;
    font-size: 1.2rem;
  }
  .about-page main section p {
    margin-left: 0;
    font-size: 1rem;
  }
}

.about-page footer {
  margin-top: 20vh;
}
/*# sourceMappingURL=style.css.map */